footer {
    width: 100%;
    height: 475px;
    background: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.copyright {
    font-size: 14px;
    color: #797979;
}
.copyright b {
    color: #fa983d;
}
.footer_content {
    width: 1240px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.aboutus {
    width: 255px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.aboutus h6, .input_footer h6, .instagram_feed h6, .social h6 {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 20px;
}
.aboutus span, .input_footer span, .social span {
    color: #797979;
    font-size: 14px;
    line-height: 23px;
}
.input_footer {
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}
.input_footer span {
    margin-bottom: 20px;
}
.input_box {
    width: 320px;
    height: 40px;
    display: flex;
}
.input_box input {
    height: 40px;
    width: 280px;
    outline: none;
    border: none;
    padding-left: 15px;
}
.input_footer input::placeholder {
    color: lightgray;
    font-size: 14px;
}
.input_box button {
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background: linear-gradient(to right, #ffb800, #ff7000);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 22px;
}
.instagram_feed {
    width: 250px;
    height: 100%;
}
.instagram_feed > div {
    width: 100%;
    height: 120px;
}
.instagram_feed > div > div {
    display: flex;
    justify-content: space-between;
}
.instagram_feed > div > div:first-child {
    margin-bottom: 5px;
}
.instagram_feed > div > div > img {
    width: 58px;
}
.social {
    width: 130px;
    height: 100%;
}
.social > span {
    display: block;
    margin-bottom: 20px;
}
.social_row {
    width: 100%;
    height: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social_row > img {
    filter: brightness(0) invert(1);
}
.footer-1{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.footer-2 { 
    display: flex;
    justify-content: center;
    align-items: flex-start;   
}
.footer-inp{
    margin-left: 20px;
}
.footer-soc{
    margin-left: 20px;
}
@media (max-width: 450px) {
    footer{
        width: 100%;
        height: 900px;
    }
    .footer_content{
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content:center;
        align-items: flex-start;
        padding-left: 20px;
        padding-right: 20px;
    }
    .aboutus{
        padding-top: 70px;
    }
    .copyright{
        margin-left: 20px;
        margin-bottom: 50px;
    }
    .input_box > input{
        width: 70%;
    }
}
@media (min-width: 450px) and (max-width: 1000px) {
    .footer_content{
        width: 100%;
        flex-direction: column;
        justify-self: center;
        align-items: flex-start;
        padding: 40px;
        
    }
    .footer-1{
        padding-left: 20px;
        margin-bottom: 40px;
    }
    .footer-2{
        padding-left: 20px;
    }
}
@media (width: 1024px) {
    .footer_content{
        width: 900px;
        align-self: center;
        justify-self: center;
    }
    footer{
        width: 1024px;
    }
    .input_box{
        width:280px
    }
    
}